@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: 14 80% 60%;

		--color-shade-0: 0 0% 100%;
		--color-shade-1: 0 0% 96%;
		--color-shade-2: 0 0% 92%;
		--color-shade-3: 0 0% 88%;
		--color-shade-4: 0 0% 84%;
		--color-shade-5: 0 0% 80%;
		--color-shade-6: 0 0% 76%;

		--color-text-shade-0: 0 0% 5%;
		--color-text-shade-1: 0 0% 25%;
		--color-text-shade-2: 0 0% 50%;

		--color-negative: 0 100% 50%;
		--color-negative-muted: 0 100% 95%;

		--color-warning: 33 95% 44%;
		--color-warning-muted: 36 100% 95%;

		--color-positive: 161 94% 30%;
		--color-positive-muted: 133 100% 95%;
	}

	[data-color-theme='dark'] {
		--color-primary: 14 80% 60%;

		--color-shade-0: 0 0% 10%;
		--color-shade-1: 0 0% 14%;
		--color-shade-2: 0 0% 18%;
		--color-shade-3: 0 0% 22%;
		--color-shade-4: 0 0% 26%;
		--color-shade-5: 0 0% 30%;
		--color-shade-6: 0 0% 34%;

		--color-text-shade-0: 0 0% 95%;
		--color-text-shade-1: 0 0% 85%;
		--color-text-shade-2: 0 0% 50%;

		--color-negative: 0 100% 50%;
		--color-negative-muted: 0 100% 10%;

		--color-warning: 33 95% 44%;
		--color-warning-muted: 30 100% 10%;

		--color-positive: 161 94% 30%;
		--color-positive-muted: 120 100% 10%;
	}

	[data-theme-style='dracula'] {
		--color-primary: 326 100% 74%;

		--color-shade-0: 60 30% 99%;
		--color-shade-1: 60 25% 95%;
		--color-shade-2: 60 20% 91%;
		--color-shade-3: 60 17% 87%;
		--color-shade-4: 60 15% 83%;
		--color-shade-5: 60 13% 79%;
		--color-shade-6: 60 11% 75%;

		--color-text-shade-0: 231 15% 18%;
		--color-text-shade-1: 232 14% 31%;
		--color-text-shade-2: 225 15% 44%;

		--color-negative-muted: 0 100% 95%;
		--color-warning-muted: 36 100% 95%;
		--color-positive-muted: 133 100% 95%;
	}

	[data-theme-style='dracula'][data-color-theme='dark'] {
		--color-primary: 326 100% 74%;

		--color-shade-0: 231 15% 18%;
		--color-shade-1: 231 14% 21%;
		--color-shade-2: 232 14% 24%;
		--color-shade-3: 232 13% 27%;
		--color-shade-4: 232 13% 30%;
		--color-shade-5: 233 13% 33%;
		--color-shade-6: 233 12% 36%;

		--color-text-shade-0: 60 30% 96%;
		--color-text-shade-1: 60 19% 88%;
		--color-text-shade-2: 50 10% 73%;

		--color-negative-muted: 0 100% 10%;
		--color-warning-muted: 30 100% 10%;
		--color-positive-muted: 120 100% 10%;
	}

	[data-theme-style='catppuccin'] {
		--color-primary: 267 84% 81%;

		--color-shade-0: 220 23% 95%;
		--color-shade-1: 220 22% 91%;
		--color-shade-2: 220 21% 88%;
		--color-shade-3: 220 20% 84%;
		--color-shade-4: 220 19% 81%;
		--color-shade-5: 220 18% 77%;
		--color-shade-6: 220 17% 73%;

		--color-text-shade-0: 234 16% 35%;
		--color-text-shade-1: 233 13% 41%;
		--color-text-shade-2: 233 11% 47%;

		--color-negative-muted: 0 100% 95%;
		--color-warning-muted: 36 100% 95%;
		--color-positive-muted: 133 100% 95%;
	}

	[data-theme-style='catppuccin'][data-color-theme='dark'] {
		--color-primary: 267 84% 81%;

		--color-shade-0: 240 21% 15%;
		--color-shade-1: 240 18% 17%;
		--color-shade-2: 240 16% 19%;
		--color-shade-3: 240 15% 21%;
		--color-shade-4: 240 14% 23%;
		--color-shade-5: 240 13% 25%;
		--color-shade-6: 240 12% 27%;

		--color-text-shade-0: 226 64% 88%;
		--color-text-shade-1: 227 35% 80%;
		--color-text-shade-2: 228 25% 72%;

		--color-negative-muted: 0 100% 10%;
		--color-warning-muted: 30 100% 10%;
		--color-positive-muted: 120 100% 10%;
	}
}
